@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  /* min-height: 100vh; */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1e3d36;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e3d36;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e3d36 #f1f1f1;
}

@layer components {
  .card {
    @apply bg-white rounded-md shadow-md p-4;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e3d36;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1e3d36;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1e3d36 #f1f1f1;
  }
}
